* {
	font-family: 'Nanum Myeongjo';
	color: black;
}

html, body {
	padding: 0;
	margin: 0;
	font-size: 10px;
}

h1, h2, h3, h4, p {
	margin: 0;
	font-weight: normal;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	padding: 20px;
	box-sizing: border-box;
}

section .section-content {
	display: flex;
	align-items: center;
	max-width: 1000px;
}

section:nth-child(odd) .section-content {
	flex-direction: row-reverse;
}

section .col:last-child {
	flex: 1;
}

section .flex-gutter {
	flex-basis: 80px;
}

@media screen and (max-width: 768px) {
	section {
		padding: 20px 10px;
	}
	section:nth-child(odd) .section-content,
	section .section-content {
		flex-direction: column;
	}
	section .col:last-child {
		max-width: 300px;
	}
	section .flex-gutter {
		flex-basis: 20px;
	}
}

section .picture-frame {
	height: 400px;
	width: 400px;
	border: 1px solid black;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

@media screen and (max-width: 900px) {
	section .picture-frame {
		height: 300px;
		width: 300px;
	}
}

section .picture-frame img {
	user-select: none;
	pointer-events: none;
}

section .picture-frame-content {
	height: 100%;
	width: 100%;
	position: relative;
	opacity: 0;
	transition: opacity 0.75s 0.5s ease-out;
}

.no-js .picture-frame, .no-js .picture-frame-content,
section.in .picture-frame, section.in .picture-frame-content {
	opacity: 1;
}

section h1, section h2, section h3, section p {
	opacity: 0;
}

.no-js h1, .no-js h2, .no-js h3, .no-js p,
section.in h1, section.in h2, section.in h3, section.in p {
	opacity: 1;
}

h1 {
	font-size: 4rem;
	font-weight: bold;
	transition: opacity 1s ease-out;
}

h2, h4 {
	font-size: 3rem;
	font-weight: bold;
	transition: opacity 1s ease-out;
}

h3 {
	font-style: italic;
	padding-bottom: 2px;
	font-size: 1.6rem;
	transition: opacity 1s ease-out;
}

.underline {
	width: 0%;
	border-bottom: 1px solid black;
	transition: width 1.25s ease-out;
}

.no-js .underline,
section.in .underline {
	width: 100%;
}

section p {
	margin-top: 10px;
	font-size: 1.6rem;
	text-align: justify;
	transition: opacity 0.75s 0.5s ease-out;
}

a {
	color: blue;
}

#intro .intro-content, #outro .outro-content {
	max-width: 1000px;
}

@media screen and (max-width: 768px) {
	#intro .intro-content, #outro .outro-content {
		max-width: 300px;
	}
}

#intro p {
	text-align: justify;
}

/************************/
/* Structure ************/
/************************/

#structure {
	background-color: #ffeadb;
}

#structure .layer1,
#structure .layer2,
#structure .layer3,
#structure .layer4,
#structure .layer5,
#structure .layer6 {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: translateY(0);
	transition: transform 1s ease-in-out;
}

#structure .layer1,
#structure .layer6 {
	transition-delay: 1s;
}

#structure .layer2,
#structure .layer5 {
	transition-delay: 1.2s;
}

#structure .layer3,
#structure .layer4 {
	transition-delay: 1.4s;
}

.no-js #structure .layer1,
#structure.in .layer1 {
	transform: translateY(25%);
}

.no-js #structure .layer2,
#structure.in .layer2 {
	transform: translateY(15%);
}

.no-js #structure .layer3,
#structure.in .layer3 {
	transform: translateY(5%);
}

.no-js #structure .layer4,
#structure.in .layer4 {
	transform: translateY(-5%);
}

.no-js #structure .layer5,
#structure.in .layer5 {
	transform: translateY(-15%);
}

.no-js #structure .layer6,
#structure.in .layer6 {
	transform: translateY(-25%);
}

/************************/
/* Composition **********/
/************************/

#composition {
	background-color: #ffbaba;
}

#composition .layer1 {
	position: absolute;
	top: 10%;
	left: 25%;
	height: 80%;
	width: 50%;
}

#composition img {
	flex: 1;
	min-width:0;
	min-height: 0;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	transition: opacity 0.5s 2.1s ease-out;
}

.no-js #composition img,
#composition.in img {
	opacity: 1;
}

#composition .layer1,
#composition .layer2,
#composition .layer3,
#composition .layer4,
#composition .layer5,
#composition .layer6,
#composition .layer7,
#composition .layer8 {
	display: flex;
	flex-basis: 37.5%;
	justify-content: flex-end;
	border: 1px solid black;
	margin: -1px;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

#composition .layer1,
#composition .layer3,
#composition .layer5,
#composition .layer7 {
	flex-direction: column;
}

#composition .layer2 {
	transition-delay: 0.7s;
}

#composition .layer3 {
	transition-delay: 0.9s;
}

#composition .layer4 {
	transition-delay: 1.1s;
}

#composition .layer5 {
	transition-delay: 1.3s;
}

#composition .layer6 {
	transition-delay: 1.5s;
}

#composition .layer7 {
	transition-delay: 1.7s;
}

#composition .layer8 {
	transition-delay: 1.9s;
}

.no-js #composition .layer1,
.no-js #composition .layer2,
.no-js #composition .layer3,
.no-js #composition .layer4,
.no-js #composition .layer5,
.no-js #composition .layer6,
.no-js #composition .layer7,
.no-js #composition .layer8,
#composition.in .layer1,
#composition.in .layer2,
#composition.in .layer3,
#composition.in .layer4,
#composition.in .layer5,
#composition.in .layer6,
#composition.in .layer7,
#composition.in .layer8 {
	opacity: 1;
}

/************************/
/* Geometry *************/
/************************/

#geometry {
	background-color: #678a74;
}

#geometry img {
	position: absolute;
	height: 100%;
	width: 100%;
}

#geometry .layer1, #geometry .layer2 {
	opacity: 1;
	transition: opacity 2s 1.25s ease-out;
}

.no-js #geometry .layer1, .no-js #geometry .layer2,
#geometry.in .layer1, #geometry.in .layer2 {
	opacity: 0;
}

.no-js #geometry .layer3,
#geometry.in .layer3 {
	transform: translateY(-20%);
	transition: transform 2s 1.25s ease-in-out;
}

#geometry .layer4 {
	opacity: 0;
	transition: opacity 2s 1.25s ease-in;
}

.no-js #geometry .layer4,
#geometry.in .layer4 {
	opacity: 1;
}

/************************/
/* Temporality **********/
/************************/

#temporality {
	background-color: #ffeadb;
}

#temporality img {
	position: absolute;
}

#temporality .layer1,
#temporality .layer2,
#temporality .layer3 {
	width: 100%;
	height: 100%;
}

#temporality .layer2,
#temporality .layer3 {
	opacity: 0;
	transition: opacity 0.75s ease-out;
}

#temporality .layer2 {
	transition-delay: 1.25s;
}

#temporality .layer3 {
	transition-delay: 2s;
}

.no-js #temporality .layer2,
.no-js #temporality .layer3,
#temporality.in .layer2,
#temporality.in .layer3 {
	opacity: 1;
}

#temporality .layer4,
#temporality .layer5 {
	height: 100%;
	width: auto;
	transform: rotate(0deg);
	transition: transform 2.25s 0.5s ease-out;
}

.no-js #temporality .layer4,
#temporality.in .layer4 {
	transform: rotate(17deg);
}

.no-js #temporality .layer5,
#temporality.in .layer5 {
	transform: rotate(180deg);
}

/************************/
/* Intellection *********/
/************************/

@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

#intellection {
	background-color: #a35638;
}

#intellection img {
	position: absolute;
}

#intellection .layer1,
#intellection .layer5 {
	width: 100%;
	height: 100%;
}

#intellection .layer2,
#intellection .layer3,
#intellection .layer4 {
	top: 1%;
	left: 1%;
	height: 43.75%;
	width: 43.75%;
}

#intellection .layer2,
#intellection .layer3 {
	opacity: 1;
	transition: opacity 1s 1.5s ease-out;
}

#intellection .layer2 {
	animation: rotate 6s linear infinite;
}

#intellection .layer3 {
	animation: rotate 4s linear infinite;
}

.no-js #intellection .layer2,
.no-js #intellection .layer3,
#intellection.in .layer2,
#intellection.in .layer3 {
	opacity: 0;
}

#intellection .layer4 {
	transition: transform 2s 1.5s ease-in-out;
}

.no-js #intellection .layer4,
#intellection.in .layer4 {
	transform: translate(40%, 150%) rotate(-20deg);
}

/************************/
/* Outro ****************/
/************************/

#outro .score {
	margin-top: 15px;
	font-size: 1.6rem;
	text-align: justify;
	opacity: 0;
	transition: opacity 1s ease-out;
}

.no-js #outro .score,
#outro.in .score {
	opacity: 1;
}

.score-bar {
	margin-bottom: 5px;
	border: 1px solid black;
	overflow: hidden;
}

.score-bar-fill {
	height: 5px;
	width: 0%;
	background-color: red;
	transition: all 1s ease-out;
}

.no-js #outro .score-bar-fill,
#outro.in .score-bar-fill {
	background-color: black;
}

#outro .structure-score, #outro .structure-score .score-bar-fill {
	transition-delay: 0.5s;
}
.no-js #outro .structure-score .score-bar-fill,
#outro.in .structure-score .score-bar-fill {
	width: 60%;
}

#outro .composition-score, #outro .composition-score .score-bar-fill {
	transition-delay: 0.75s;
}
.no-js #outro .composition-score .score-bar-fill,
#outro.in .composition-score .score-bar-fill {
	width: 70%;
}

#outro .geometry-score, #outro .geometry-score .score-bar-fill {
	transition-delay: 1s;
}
.no-js #outro .geometry-score .score-bar-fill,
#outro.in .geometry-score .score-bar-fill {
	width: 60%;
}

#outro .temporality-score, #outro .temporality-score .score-bar-fill {
	transition-delay: 1.25s;
}
.no-js #outro .temporality-score .score-bar-fill,
#outro.in .temporality-score .score-bar-fill {
	width: 100%;
}

#outro .intellection-score, #outro .intellection-score .score-bar-fill {
	transition-delay: 1.5s;
}
.no-js #outro .intellection-score .score-bar-fill,
#outro.in .intellection-score .score-bar-fill {
	width: 80%;
}

#footer {
	padding: 20px;
	text-align: center;
	font-size: 1.2rem;
}
